body{
     
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
  
}

a{
     text-decoration: none;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 3px solid white;
    padding: 40px 80px;
    position: relative;
     overflow: hidden;
}

a::before{
    content:'';
    background-color: rgb(91, 140, 233);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100px;
    position: absolute;
    z-index: -1;
    transform: skew(-15deg);
     
    animation: moving 1.5s linear infinite;

    transition: all 0.5s;
}

@keyframes moving {
    
    from{left:-120px;}
    to{left: 100%;}
    
}


a:hover::before{
    width: 100%;
    transform: skew(0deg);
    animation: none;

}
